body {
    margin: 0;
    padding: 0;
}

.search-input {
    border-radius: 12px 0 0 12px;
    height: 2rem;
    padding-left: 8px;
    border-right: none;
}

.search-button {
    height: 2rem;
    width: 2rem;
    border-radius: 0 12px 12px 0;
    border-left: none;
    background-color: rgb(12, 86, 245);
    color: aliceblue;
}

.search-input:focus {
    border: none;
    border-color: white;
    box-shadow: rgb(10, 224, 124);
}

.cat {
    color: white;
}